[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
isort = "*"
env = "*"
environs = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-storages = "*"
redis = "==4.1.2"
boto3 = "*"
celery = "==4.4.7"


[dev-packages]

[requires]
python_version = "3.8"
